:root {
    --main-font-size: 16px;
    --main-text-color: #333;
    --secondary-color: #eee;
    --button-border-radius: 5px;
    --main-margin-left: 3rem;
}

ul {
    list-style: none;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
}

.title {
    text-align: center;
    font-size: 2.5rem;
}

.subtitle {
    margin-top: 1.5rem;
    margin-left: 3rem;
    font-size: 24px;
}

.btnContainer {
    display: flex;
    gap: 30px;
    margin-left: 3rem;
}

.hotkeyInstructions {
    position: absolute;
    right: 3rem;
}

.hotkeyInstructions legend {
    font-weight: 600;
}

.hidden {
    display: none;
}

#parametersSt,
#parametersMov,
#parametersFl,
#parametersKet,
#parametersPet,
#parametersFCE,
#parametersCAE {
    margin-left: 3rem;
}

.selectBtn {
    min-width: 100px;
    min-height: 40px;
    font-size: 20px;
    border: solid 1px;
    border-radius: 5px;
    cursor: pointer;
}

.selectBtn:hover {
    background-color: rgb(175, 175, 175);
}

.inputContainer {
    display: flex;
    gap: 20px;
}

label {
    font-size: 18px;
    line-height: 1.5rem;
}

input {
    width: 100px;
    font-size: 16px;
}

.errorMessage {
    font-size: 18px;
    color: red;
    margin-top: 1rem;
}

.calculateBtn {
    font-size: 18px;
    border: solid 1px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 1rem;
}

.calculateBtn:hover {
    background-color: rgb(175, 175, 175);
}

.resultTable {
    font-size: 18px;
    border-collapse: collapse;
}

th {
    font-weight: 500;
    background-color: rgb(230, 230, 230);
}

th,
td {
    border: solid 1px;
    padding: 5px;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    label {
        font-size: 19px;
        line-height: 1.5rem;
        padding: 15px;
    }

    input {
        width: 100px;
        font-size: 18px;
    }

    .title {
        text-align: center;
        font-size: 2rem;
    }

    .subtitle {
        margin-top: 1rem;
        text-align: center;
        font-size: 20px;
    }

    .btnContainer {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }

    #parametersSt,
    #parametersMov,
    #parametersFl,
    #parametersKet,
    #parametersPet,
    #parametersFCE,
    #parametersCAE {
        margin-left: auto;
    }

    .resultTable {
        font-size: 16px;
        max-width: 100%;
    }
}